AIRFLOW_UID=50000
AIRFLOW__CORE__FERNET_KEY=<your_fernet_key>

# Conexión a la DB del Master
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://<your_user>:<your_password>@<your_ip_master>:5432/<your_databse>

# Conexión al Broker (RabbitMQ)
AIRFLOW__CELERY__BROKER_URL=amqp://<your_user>:<your_password>@<yout_ip_master>:5672/

# Backend de resultados
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://<your_user>:<your_password>@<your_ip_master>:5432/<your_databse>
